* {
	font-family: "Courier New", Courier, monospace;
	margin: 0px;
	padding: 0px;
	color: rgb(0, 0, 0);
}

body {
	background-color: #ffffff;
}

#general {
	display: block;
}

#main_row {
	height: 100vh;
}

#profile_image {
	display: block;
	max-width: 91.5%;
	margin-top: 1vw;
	margin-left: 1vw;
	margin-right: 1vw;
}

#name {
	font-weight: bold;
	text-align: center;
	font-size: 2rem;
}

#name_container {
	margin-left: 1vw;
	margin-right: 1vw;
	margin-top: 1vw;
}

#description_container {
	margin-left: 1vw;
	margin-right: 1vw;
	margin-top: 1vw;
	text-align: justify;
}

#projects_row {
	margin-top: 1vw;
	margin-left: 1vw;
	margin-right: 1vw;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.project_container {
	overflow: hidden;
	background-color: #bd3e3e60;
	margin: 1vw;
	padding: 0%;
	border-radius: 5px;
	transition: transform 0.5s ease;
}

.project {
	width: 100%;
	height: 100%;
	transition: transform 0.5s ease;
}

.project_container:hover .project {
	filter: blur(1px) grayscale(100%) brightness(30%);
	transform: scale(1.5);
	border-radius: 5px;
	transition: transform 0.5s ease;
}

.project_title {
	color: #7db7e6;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: transform 0.5s ease;
	font-weight: bold;
	text-align: center;
	font-size: 1rem;
}

.project_container:hover .project_title {
	color: #7db7e6;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: transform 0.5s ease;
	font-weight: bold;
	text-align: center;
	font-size: 1rem;
}

.theme-switch-wrapper {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
}
.theme-switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
}

.theme-switch input {
	display: none;
}

.slider {
	background-color: rgb(65, 65, 65);
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: 0.4s;
}

.slider:before {
	background-color: rgb(129, 129, 129);
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: 0.4s;
	width: 26px;
}

input:checked + .slider {
	background-color: #dbdbdb;
}

input:checked + .slider:before {
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
