h1,
h2,
ol,
p {
    color: #eeeeee;
    font-family: bookerly;
    text-align: justify;
}

h1 {
    font-size: 300%;
    color: #00adb5;
    font-family: bookerly;
    text-align: center;
}

h2,
ul,
li {
    color: #00adb5;
    align-self: center;
}

@font-face {
    font-family: bookerly;
    src: url('font/Bookerly-Regular.ttf')
}

body {
    background-color: #222831;
}

#habits_concluded {
    text-align: center;
}

#habits_list {
    background-color: #161a20;
    max-height: 50vh;
    overflow-y: scroll;
    scrollbar-color: #00adb5 #0f1114;
    scrollbar-width: thin;
}